In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

#### 1. Read the given comma separated values as dataframe (investments.csv)

In [2]:
invest= pd.read_csv('investments.csv')
# invest.head()

In [3]:
invest.describe()

       funding_rounds  founded_year  debt_financing         grant
count    49438.000000  38482.000000    4.943800e+04  4.943800e+04
mean         1.696205   2007.359129    1.888157e+06  1.628453e+05
std          1.294213      7.579203    1.382046e+08  5.612088e+06
min          1.000000   1902.000000    0.000000e+00  0.000000e+00
25%          1.000000   2006.000000    0.000000e+00  0.000000e+00
50%          1.000000   2010.000000    0.000000e+00  0.000000e+00
75%          2.000000   2012.000000    0.000000e+00  0.000000e+00
max         18.000000   2014.000000    3.007950e+10  7.505000e+08

#### 2. List out all column names.

In [4]:
invest.keys()

Index(['name', 'homepage_url', 'category_list', 'market', 'funding_total_usd',
       'status', 'country_code', 'state_code', 'region', 'city',
       'funding_rounds', 'founded_year', 'debt_financing', 'grant'],
      dtype='object')

#### 3. Create a dataframe with numerical columns

In [5]:
y= invest.select_dtypes(include= 'number')
y.head()

   funding_rounds  founded_year  debt_financing  grant
0               1        2012.0               0      0
1               2           NaN               0      0
2               1        2012.0               0      0
3               1        2011.0               0      0
4               2        2014.0               0      0

In [6]:
invest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49438 entries, 0 to 49437
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               49437 non-null  object
 1   homepage_url       45989 non-null  object
 2   category_list      45477 non-null  object
 3   market             45470 non-null  object
 4   funding_total_usd  49438 non-null  object
 5   status             48124 non-null  object
 6   country_code       44165 non-null  object
 7   state_code         30161 non-null  object
 8   region             44165 non-null  object
 9   city               43322 non-null  object
 10  funding_rounds     49438 non-null  int64
 11  founded_year       38482 non-null  float64
 12  debt_financing     49438 non-null  int64
 13  grant              49438 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 5.3+ MB

#### 4. Create a dataframe with categorical columns.

In [7]:
# invest.isnull().sum()
invest.select_dtypes(include= np.object).columns()

TypeError: 'Index' object is not callable

In [ ]:
z= invest.select_dtypes(include= 'object')
z.head()

#### 5. Get a summary on the data and draw inferences if any

In [ ]:
invest.describe()

#### 6. Display duplicate rows

In [ ]:
# dupe_data= invest[invest.duplicated()]

invest.duplicated().sum()

#### 7. For each column find out the percentage of missing values

In [ ]:
# percent = 100*(len(invest.loc[:, invest.isnull().sum(axis=0)>=1].index)/ len(invest.index))

# print(round(percent,2))

In [ ]:
cnt_= invest.isnull().sum()
per_= cnt_*100/len(invest)

pd.concat([pd.DataFrame(cnt_, columns= ['cnt']), pd.DataFrame(per_, columns= ['%age'])], axis=1).sort_values('cnt', ascending= False)

In [ ]:
invest.isnull().sum()*100/len(invest)

#### 8. Find count of ‘name’ in each ‘country_code’

In [ ]:
invest['country_code'].value_counts()

In [ ]:
p = invest.groupby('country_code').agg({'name':np.count_nonzero})
p

In [ ]:
invest.groupby('country_code')['name'].count()

In [ ]:
# n=invest['name'].groupby(invest['country_code']).tail()
# print('country_code', n)

#### 9. What is the Display percentage of missing values in each column if any of the companies which have  status ‘acquired’ ‘operating’?

In [ ]:
a = invest[~invest['status'].isin(['closed'])]

In [ ]:
a['status'].value_counts()

In [ ]:
# a.isnull().sum()*100/len(invest)

# """correct programe is this"""

In [ ]:
invest[invest['status'].isin(['acquired', 'operating'])]['name'].count()*100/len(invest)

#### 10. What is the percentage of the companies which have status ‘acquired’ acquired?

In [ ]:
x= invest['status'].value_counts()[['acquired']].sum()
print(x)
print(x*100/len(invest))

#### 11. Filter records having missing values in column ‘year_founded’.

In [ ]:
f= invest['founded_year'].isnull()
invest[f]

#### 12. Create a column ‘category_list_count’ having count of category lists.

In [ ]:
# invest['category_list_count']= invest.count('columns')

In [ ]:
invest['category_list_count']= invest.category_list.apply(lambda x: len(str(x).split('|'))-2)
invest.loc[:,['category_list', 'category_list_count']].head()

#### 13. Find average funding_total_usd for each country_code.

In [ ]:
# lds= invest['funding_total_usd'].values.astype(np.int64)
# lds.info()
invest.funding_total_usd = invest.funding_total_usd.apply(lambda x: str(x).replace(',','').replace('-','0')).astype('float')
# fnt= invest.groupby('country_code')['funding_total_usd'].mean()

invest.groupby('country_code')['funding_total_usd'].mean()

In [ ]:
invest.funding_total_usd = invest.funding_total_usd.apply(lambda x: str(x).replace(',','').replace('-','0')).astype('float')

invest.groupby('country_code')['funding_total_usd'].mean()

#### 14. Find total funding_total_usd for each country_code.

In [ ]:
# invest['country_code'].value_counts().tail()

In [ ]:
fnt= invest.groupby(by='country_code', axis= 0)[['funding_total_usd']].sum() # dataframe
fnt

#### 15. Find average funding_total_usd in each country_code and region

In [ ]:
#unable to get mean


avg_funding= invest.groupby(by= ['country_code', 'region'])['funding_total_usd'].mean()
avg_funding

#### 16. How many companies have got just 1 round of funding?

In [ ]:
a= invest['funding_rounds'].astype(object)
a.value_counts()[1]

In [ ]:
print(invest[invest.funding_rounds==1]['name'].count())
print(invest[invest.funding_rounds==1]['name'].nunique())
print(len(invest[invest.funding_rounds==1]['name'].unique()))
print(len(invest[invest.funding_rounds==1]['name'].unique()))

#### 17. Perform mapping on status column; acquired -> A, operating -> O and closed -> C.

In [ ]:
maping_sts= invest['status'].apply( lambda x: 'A' if x== 'acquired' else 'O' if x== 'operating' else 'C')
maping_sts

#### 18. Create a column ‘homepage’ to store company name from ‘homepage_url’: For example: If the url is  http://www.waywire.com, name is waywire.

In [ ]:
invest

In [ ]:
import re
invest['homepage']= invest['homepage_url'].apply(lambda x: re.sub('(http://|www.|.com|.org|http://www.)'," ", str(x)))
invest.loc[:, (['homepage_url', 'homepage'])]

#### 19. Find the count of companies in each of the markets.

In [ ]:
count_company= invest.groupby(by= ['market'])['name'].count()
count_company

#### 20. Find the count of companies in each of the markets and store the new column ‘cnt_name’ in the original  dataframe.

In [ ]:
# invest.set_index(invest['cnt_name'].index)
invest['cnt_name']= invest.groupby('market')['name'].transform('count')
invest.loc[:,['market','cnt_name']]

#### 21. Fill missing values in column ‘city’ with ‘other_city’

In [ ]:
# invest['city'].replace(np.nan, 'other_city',inplace= True ) its is also right
invest['city'].fillna('other_city')
invest

#### 22. Normalize ‘‘funding_total_usd’ at country level.

In [ ]:
invest['country_code'].fillna('other_city_cd', inplace= True )

invest.groupby('country_code')['funding_total_usd'].transform(lambda x: x-np.mean(x))

#### 23. What is the average ‘funding_total_usd’ for each city?

In [ ]:
avg_funding = invest.groupby( by= 'city')['funding_total_usd'].mean()
# x= invest[avg_funding]/ len(invest)
print(avg_funding)

In [ ]:
avg_fund = invest.groupby('city')['funding_total_usd'].mean()
avg_fund

#### 24. Plot histogram/distribution of ‘funding_total_usd’ and provide insights if any.

In [ ]:
invest.funding_total_usd.hist()
plt.xlabel('funding_total_usd')
plt.ylabel('count')
plt.title('Total Funding')
plt.show()



# sns.displot(invest.funding_total_usd)
# plt.show()

In [ ]:
plt.hist(np.log1p(invest.funding_total_usd))
plt.xlabel('funding_total_usd')
plt.ylabel('count')
plt.title('total funding distribution')
plt.show()

#### 25. What is maximum ‘funding_total_usd’ for each market status?

In [ ]:
invest.groupby('market')['funding_total_usd'].max()

#### 26. How many years has it been since each company was founded?

In [ ]:
from datetime import datetime
datetime.today().year - invest['founded_year']

#### 27. Visualize ‘grant’ distribution.

In [ ]:
invest.grant.hist()
plt.xlabel('Grant')
plt.ylabel('count')
plt.title('Grant Distribution')
plt.show()

In [ ]:
plt.hist(np.log1p(invest.grant))
plt.xlabel('Grant')
plt.ylabel('count')
plt.title('log Grant Distribution')
plt.show()

#### 28. `Visualize ‘debt_financing’ distribution.

In [ ]:
invest.debt_financing.hist()
plt.xlabel('Debt')
plt.ylabel('count')
plt.title(' Debt Financing')
plt.show()

In [ ]:
plt.hist(np.log1p(invest.debt_financing))
plt.xlabel('Debt')
plt.ylabel('count')
plt.title('debt finanancing')
plt.show()

#### 29.	Display proportion of companies status.

In [ ]:
invest.status.value_counts()/invest.shape[0]*100

#### 30. How many US states are available?

In [ ]:
invest.country_code.value_counts('USA').nunique()

In [ ]:
invest[invest.country_code== 'USA']['state_code'].nunique()

#### 31. create column ‘cmt_address’ by joining country code, state code, region and List item.

In [ ]:
invest['cmt_address'] = invest.country_code+ ' '+np.where(invest.state_code.isna(),'_',invest.state_code)+ invest.region
invest

#### 32. select columns with underscore in their names.

In [ ]:
invest.filter(regex= '_').columns

In [ ]:
invest